<div class="jumbotron">
  <div class="container">
    <h2>Add new location</h2>

    <%= form_for(@location) do |f| %>
      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.submit %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Locations listing</h2>

      <%= render 'shared/error_messages', target: @location %>

      <table class="table">
        <thead>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        </thead>
        <tbody>
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  </div>
</div>
